<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Help page</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
  <% include blocks/header.ejs %>
  <h1>Help Page</h1>
  <p>
    <a href="/">Home</a><br>
    <a href="/about">About</a>
  </p>
  <p>Спасибо</p>
  <p>
    <b>Email:</b><%=data.email %> <br>
    <b>Pass:</b><%=data.pass %> <br>
    <b>isCheck:</b><%=data.check %> <br>
  </p>
</body>
</html>
